body,
html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
}

h2,
h3 {
  color: green;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header .logo {
  text-align: right;
  margin-bottom: 20px;
}

header .logo h1 {
  margin: 0 10px;
}

header .logo span {
  color: orange;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: green;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

header nav ul li a:hover {
  background-color: orange;
  color: white;
}

header nav ul li a:active,
header nav ul li a.active {
  background-color: orange;
  color: white;
}

main {
  display: flex;
  padding: 20px;
}

.sidebar {
  flex: 1 1 30%;
  background: #e8e8e8;
  padding: 15px;
  margin: 20px 10px 20px 20px;
  box-sizing: border-box;
}
.sidebar ul li a,
.sidebar dl dt a {
  color: #333;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.sidebar ul li a:hover,
.sidebar dl dt a:hover {
  color: green;
}

section.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(350px, 70%));
  grid-gap: 10px;
  justify-content: space-between;
  padding: 20px;
  width: calc(100% - 30%);
  box-sizing: border-box;
}

.column {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

.image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  border: 2px solid rgb(211, 207, 207);
  padding: 5px;
  box-sizing: border-box;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}

.green_link {
  color: green;
  text-decoration: none;
}

.green_link:hover {
  text-decoration: underline;
}

.red_link {
  color: red;
  text-decoration: none;
}

.red_link:hover {
  text-decoration: underline;
}

.sidebar h2 {
  margin-top: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 5px 0;
}

.sidebar ul li a {
  color: #333;
  text-decoration: none;
}

dl {
  margin: 20px 0;
}

dt a {
  color: #333;
  margin-top: 10px;
  text-decoration: none;
}

dd {
  margin-left: 20px;
  color: #555;
  font-size: 14px;
}

footer {
  background-color: #081009cc;
  color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.footer-item h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #fff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.gallery img {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  border: 3px solid white;
  object-fit: cover;
}

.about-content {
  overflow: hidden;
}

.about-image {
  float: left;
  margin: 0 15px 10px 0;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}

.about-content p {
  margin: 0 0 10px;
  line-height: 1.6;
}

.about {
  margin-right: 20px;
  padding: 15px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.about article {
  margin-bottom: 15px;
  line-height: 1.6;
  padding: 10px;
  background: #f9f9f9;
}

.contact-content {
  max-width: 750px;
  margin: 20px;
  padding: 15px;
  background-color: #f9f9f9;
}

.contact-header {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form ol {
  list-style-type: none;
  padding: 0;
}

.contact-form li {
  margin-bottom: 15px;
}

.contact-form label {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="url"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-form textarea {
  resize: vertical;
}

.send-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.send-button:hover {
  background-color: #218838;
}

footer a {
  color: green;
  text-decoration: underline;
}

footer a:hover {
  text-decoration: underline;
}

footer a:active {
  text-decoration: none;
  color: green;
}

.bottom-footer {
  color: #aaa;
  background-color: #333;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 0.9rem;
  border-top: 1px solid white;
}

.bottom-footer a {
  color: green;
  text-decoration: underline;
}
.footer-nav {
  display: flex;
  gap: 15px;
}

.footer-nav a {
  color: #f4f4f4;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

.footer-nav a:active,
.footer-nav a.active {
  color: green;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

.footer-nav a:last-child {
  margin-right: 0;
}

.footer-nav a:hover {
  text-decoration: underline;
}
